// Color
$c0: #000000;
$c0-200: #242d49;
$c1: #ffffff;
$c2: #f5c32c;
$c3: #fca61f;
$c4: #788097;
$c5: rgb(238, 210, 255);

// Font-size

// Font-weight
$fw-light: 300;
$fw-base: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;

// Font-family
@font-face {
  font-family: "Gumela";
  src: url("../fonts/Gumela_Regular.otf");
}

$font-family: "Gumela", sans-serif;

// Breakpoint
$mobile-width: 600px;
$tablet-width: 1024px;

// Other
$header-height: 8rem;
$header-shrink-height: 5rem;
$box-shadow: 0px 19px 60px rgb(0 0 0 / 8%);
